<div *ngIf="windowWidth >= 769 || cartData.length === 0" class="cart-container">
    <!-- <div class="cart-container"> -->

    <div class="card-content">
        <div class="cart-title">
            <h4>My Cart ({{ totalItem }} items)            
            <span class="close-btn" (click)="close()">x</span>
            </h4>
            <!-- <hr> -->
        </div>
        <div class="empty-cart" *ngIf="cartData?.length === 0">
            <strong>No items in your cart.</strong>
            <p>Your favourite items are just a click away</p>
        </div>

        <div *ngIf="cartData" class="product-list">
            <div *ngFor="let product of cartData; let i=index" class="item-tile">
                <img [src]="product.imageURL" alt="product.description" />
                <div class="item-desc">
                    <span class="prod-name">{{ product?.name }}</span> <br />
                    <button type="button" name="decrement" class="item-remove" (click)="removeItem(product)"> - </button>
                    <input type="text" [value]="product.quantity" />
                    <button type="button" name="increment" class="item-add" (click)="addItem(product)">+</button> X Rs.{{ product?.price }}
                    <label class="item-price"> Rs. {{ product.price * (product.quantity ? product.quantity : 0) }} </label>

                </div>
            </div>
            <div *ngIf="cartData.length !== 0" class="item-lowprice-tile">
                <img src="../../static/images/lowest-price.png" alt="lowest price" /> 
                <div class="lowest-price-label">You won't find it cheaper anywhere</div>
            </div>
            <footer [ngStyle]="{'position' : cartData.length > 0 ? 'sticky' : 'absolute'}">
                <div *ngIf="cartData?.length !== 0" class="payment-label">Promo code can be applied on payment page</div>
                <button type="button" name="order" *ngIf="cartData?.length !== 0" (click)="checkout()">Proceed to Checkout<span class="checkout-btn"> Rs. {{ amountPayable }} ></span></button>
                <button type="button" name="shop" *ngIf="cartData?.length === 0" (click)="startShop()">Start Shopping</button> 
            </footer>
        </div>
    </div>
</div>

 <div *ngIf="windowWidth < 769 && cartData.length > 0" class="card-content">
    <div class="cart-title-md">
        <h4>My Cart ({{ totalItem }} items)            
        <span class="close-btn" (click)="close()">x</span>
        </h4>
    </div>
    <div class="empty-cart" *ngIf="cartData.length === 0">
        <strong>No items in your cart.</strong>
        <p>Your favourite items are just a click away</p>
    </div>

    <div *ngIf="cartData" class="product-list">
        <div *ngFor="let product of cartData; let i=index" class="item-tile">
            <img [src]="product.imageURL" alt="product.description" />
            <div class="item-desc">
                <span class="prod-name">{{ product?.name }}</span> <br />
                <button type="button" name="decrement" class="item-remove" (click)="removeItem(product)"> - </button>
                <input type="text" [value]="product.quantity" />
                <button type="button" name="increment" class="item-add" (click)="addItem(product)">+</button> X Rs.{{ product?.price }}
                <label class="item-price"> Rs. {{ product.price * (product.quantity ? product.quantity : 0) }} </label>

            </div>
        </div>
        <div *ngIf="cartData.length !== 0" class="item-lowprice-tile">
            <img src="../../static/images/lowest-price.png" alt="lowest price" /> 
            <div class="lowest-price-label">You won't find it cheaper anywhere</div>
        </div>
        <footer [ngStyle]="{'position' : cartData.length > 0 ? 'sticky' : 'absolute'}">
            <div *ngIf="cartData?.length !== 0" class="payment-label">Promo code can be applied on payment page</div>
            <button type="button" name="order" *ngIf="cartData?.length !== 0" (click)="checkout()">Proceed to Checkout<span class="checkout-btn"> Rs. {{ amountPayable }} ></span></button>
            <button type="button" name="shop" *ngIf="cartData?.length === 0" (click)="startShop()">Start Shopping</button> 
        </footer>
    </div>
</div> 