@import '../../assets/styles/variable.scss';

.products-container {
    padding: 1px;
    margin: 1px;
    
    ul {
        padding: 3px;
    }
}

.categories {
    list-style: none;
    display: inline-block;    
    background-color: $bg_grey;
    line-height: 1.5;

    li {
        cursor: pointer;
        margin: 0.5rem 0;
    }

    li:hover {
        box-sizing: border-box;
        background-color: $bg_pink;
    }
}

.cat-dropdown {
    background-color: $bg_pink;
    color: $bg_white;
}

.cat-dropdown option:hover {
    background-color: $bg_light_grey;
    color: $bg_grey;
}



.cat-sm {
    width: 100%;
    margin-bottom: 2rem;
}

.active {
    background-color: $bg_light_grey;
}

.card-container {
    height: 15rem;
    width: 15rem;
    margin: 4px;
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px dashed $bg_grey;

    img {
        height: 7rem;
        width: auto;
    }

    
    @media (max-width: 540px) {
        
        height: 12rem;
        width: 100%;
        margin: 4px;
        padding: 4px;
    
        img {
            height: 6rem;
            width: auto;
        }
    }

    @media (min-width:540px) and (max-width: 767px) {
        
        height: 20rem;
        width: 100%;
        margin: 4px;
        padding: 4px;

        img {
            height: 12rem;
            width: auto;
        }
    }

    @media (min-width: 1024px) and (max-width: 1440px) {
        height: 25rem;
        width: 16rem;

        img {
            height: 12rem;
            width: auto;
            margin: 0.5rem 0 0.5 1rem;
        }
    }

    @media (min-width: 1440px) {
        height: 25rem;
        width: 12rem;

        img {
            height: 10rem;
            width: auto;
            margin-left: 0.5rem 0.5rem;
        }
    }
}

.prod-name {
    margin-bottom: 1rem;
}

.item-desc {    
    font-size: $font-md;
    font-weight: 600;
    margin: 2px 0 2px 0;
    background-color:  $bg_grey;
    width: 50%;

    @media (max-width:500px) {
        width: auto;            
        font-size: $font-md;
    }

    @media (min-width: 1024px) {
        width: auto;
    }
}

.price-button {
    text-align: center;

    button {
        width: 94%;
        margin: 0.5rem;
    }

            

    @media (min-width: 310px)and (max-width: 500px) {
        button{font-size: $font-md};
    }

    @media (min-width: 1024px) {

        margin-top:  1rem;;
        button{
            width: auto;
            margin-left: 2rem;
        }

        label {
            font-weight: 600;
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}