@import '../../assets/styles/variable.scss';

.products-container {
    padding: 1px;
    margin: 1px;
}

.navigation {
    background-color: $bg_grey;
    @media screen and (max-width: $sm){
        background-color: $bg_white;
    }
}
