/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

footer {
    background-color: rgb(197, 194, 194);
    text-align: center;
    width: 100%;
}
