
//color variables
$bg_grey: rgb(240, 236, 237);
$bg_pink: #ca1468;
$bg_light_grey: #fcf9fa;
$bg_white:  #fff;

//font-variables
$font-sm: 8px;
$font-md: 12px;
$font-lg: 16px;

//screen width variables
$xs: 576px;
$sm: 767px;
$md: 992px;
$lg: 1440px;

@mixin cartHead {
    padding: 1rem;
      background-color: black;
      color: $bg_white;
      font-weight: 700;
      position: sticky;
      top: 0%
}
