<div class="container">
  <div class="row">
    <div class="col-md-6 header">
        <h2>Sign Up</h2>
        <h6>
            Get access to your Orders, Wishlist and Recommendations
        </h6>
    </div>
  <form (ngSubmit)="register(signupForm)" #signupForm="ngForm" class="col-md-6 register-form">
    <div class="form-group">
      <label for="fname">First Name</label> <br/>
      <input type="text" name="fname" [(ngModel)]="user.fname" #fname="ngModel" class="form-control" required>
    </div>
    <div [hidden]="fname.valid || fname.untouched" class="alert alert-danger">
      Name is required
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label><br/>
      <input type="text" name="lname" [(ngModel)]="user.lname" class="form-control">
    </div>

    <div class="form-group">
      <label for="email">Email</label><br/>
      <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" class="form-control" required>
    </div>
    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
      Valid Email is required
    </div>

    <div class="form-group">
      <label for="password">Password</label><br/>
      <input type="password" name="password" [(ngModel)]="user.password" [pattern]="regPat" #pass="ngModel" class="form-control" required>
    </div>
    <div [hidden]="pass.valid || pass.untouched" class="alert alert-danger">
      Alphanumeric password is required
    </div>

    <div class="form-group">
      <label for="retype-password">Confirm Password</label><br/>
      <input type="password" name="repass" [(ngModel)]="user.rpass" #repass="ngModel" class="form-control" required>
    </div>
    <div [hidden]="(user.password === user.rpass) || (repass.untouched && (user.password === user.rpass))"
      class="alert alert-danger">
      Mismatch password
    </div>

    <button class="btn btn-danger register-btn" type="submit" name="register" [disabled]="!signupForm.valid">Signup</button>
  </form>
  </div>
</div>