@import '../../../assets/styles/variable.scss';

.category-detail {
    height: 10rem;
    width: auto;
    margin: 0.5rem 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    p {
        font-weight: 600;
    }
    
    img {
        height: 8rem;
        width: auto;
    }

    @media (max-width: 400px) {
        height: 12rem;
        img {
            margin-top: 5%;
            height: 6rem;
            width: 9rem;
        }
    }

    @media (min-width: 400px) and (max-width: 767px) {
        img {
            margin-top: 5%;
            height: 5rem;
            width: auto;
        }
    }
}

.category-name {
    text-align: center;
    font-size: $font-md;

    strong {
        font-size: $font-lg;
    }

    @media (max-width: 767px) {
        width: 50%;
    }
}

.explore {
    text-align: center;
    font-size: $font-md;
    @media (max-width: 400px) {
        font-size: $font-sm;
    }
}
