@import '../../../assets/styles/variable.scss';

.category-detail {
    height: 10rem;
    width: auto;
    margin: 0.5rem 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    p {
        font-size: $font-md;
        font-weight: 600;
    }

    strong {
        font-size: $font-lg;
        font-weight: 700;
    }
    
    img {        
        margin-top: 5%;
        height: 8rem;
        width: auto;
    }

    @media screen and (max-width: $xs) {
        height: 12rem;
        img {
            height: 8rem;
            width: 9rem;
        }
    }

    @media screen and (min-width: $xs) and (max-width: $md) {
        img {
            height: 6rem;
            width: auto;
            padding: 0 10%;
        }
    }

    @media screen and (min-width: $md) {
        img {
            margin-top: 1%;
            padding: 0 20%;
        }
    }
}

.category-name {    
    margin-top: 5%;
    text-align: center;
    width: 50%;
    @media screen and (min-width: $md) {
        font-size: $font-sm;
        margin-top: 3%;
    }
}

.category-img {
    width: 40%;
    text-align: center;
}

.explore {
    text-align: center;
    font-size: $font-md;
    border-radius: 0rem;
    @media screen and (max-width: $xs) {
        font-size: $font-sm;
    }
}